<!DOCTYPE html>
<html>
    <head>
        <title>Parameter Concatenation</title>
    </head>
    <body>
        <h1>Concatenate Parameters</h1>
        
        <form method="POST">
            <label for="param01">Parameter 01:</label>
            <input type="text" name="param01" id="param01"><br>
            
            <label for="param02">Parameter 02:</label>
            <input type="text" name="param02" id="param02"><br>
            
            <label for="param03">Parameter 03:</label>
            <input type="text" name="param03" id="param03"><br>
            
            <label for="param04">Parameter 04:</label>
            <input type="text" name="param04" id="param04"><br>
            
            <label for="param05">Parameter 05:</label>
            <input type="text" name="param05" id="param05"><br>
            
            <input type="submit" value="Submit">
        </form>
        
        <h2>Result:</h2>
        <textarea rows="4" cols="50">{{ result }}</textarea>
    </body>
</html>